AZURE_TENANT_ID=tu_tenant_id
AZURE_CLIENT_ID=tu_client_id

#AMBAS COSAS las revisas en Azure For Students, borré estas 2 credenciales para poder pushear sin info sensible xd
#Aunque puede que sirvan las mías, si no funcan con las tuyas me avisas y te las paso






#Al no haber front, tuve que testear el code y el token desde estas URLs

#1:
https://login.microsoftonline.com/tu_tenant_id/oauth2/v2.0/token

#2:
https://login.microsoftonline.com/tu_tenant_id/oauth2/v2.0/authorize?client_id=tu_client_id&response_type=code&redirect_uri=https://oauth.pstmn.io/v1/callback&response_mode=query&scope=openid%20profile%20email


#Pero el front en vola va a necesitar su propia URL (localhost:3000, localhost:5173) o puede que incluso necesite su propio id de front
#tipo "AZURE_CLIENT_ID_FRONTEND", who knows


#No sé si te sirva de algo, pero desde Postman testeé así:

# Body - x-www-form-urlencoded
# grant_type: authorization_code
# client_id: tu_client_id
# redirect_uri: https://oauth.pstmn.io/v1/callback
# code: el codigo que da la URL #2
# scope: tu_client_id/.default

#Luego el access_token lo pegaba en Authoritazion - Bearer Token

#Testeé creando en needs y luego en donations
